<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title th:text="${'Suicide Risk ' + suicideRisk.crn}"></title>
  <meta name="AppVersion" content="16.0000"/>
  <meta name="Company" content="National Probation Service"/>
  <style type="text/css">
    @page { size: 21cm 29.7cm; margin-left: 1.59cm; margin-right: 1.32cm; margin-top: 2.64cm; margin-bottom: 1.25cm }
    span {font-family:Arial,serif;}
    p {margin-top:0; margin-bottom:0; font-size:11pt}
  </style>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
      font-family: Arial, sans-serif;
    }

    th, td {
      border: 1px solid #000;
      padding: 8px;
      text-align: left;
    }
  </style>
</head>
<body>
<div>
  <div style='border:solid windowtext 1.0pt;padding:1.0pt 4.0pt 1.0pt 4.0pt;background:#CCCCCC'>
    <p style='text-align:center;background:#CCCCCC;border:none;padding:0'><b><span lang=EN-GB style='font-size:16.0pt;font-family:"Arial",sans-serif;color:black'>Suicide Risk Form</span></b></p>
  </div>

  <br/>

  <table>
    <tr>
      <th>Offender's Name</th>
      <td th:text="${suicideRisk.titleAndFullName}">{titleAndFullName}</td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td th:text="${#temporals.format(suicideRisk.dateOfBirth, 'dd/MM/yyyy')}">{dateOfBirth}</td>
    </tr>
    <tr>
      <th>Calculated Age</th>
      <td><span th:if="${suicideRisk.dateOfBirth != null}" th:text="${T(java.time.Period).between(suicideRisk.dateOfBirth, T(java.time.LocalDate).now()).getYears()}"></span>
      </td>
    </tr>
    <tr>
      <th>Address</th>
      <td><span>
						<div th:if="${suicideRisk.postalAddress != null}">
							<p style="margin: 0;"><span th:if="${suicideRisk.postalAddress.officeDescription != null}"
                                          th:text="${suicideRisk.postalAddress.officeDescription}">{postalAddress.officeDescription}</span></p>
							<p style="margin: 0;"><span th:if="${suicideRisk.postalAddress.buildingName != null}"
                                          th:text="${suicideRisk.postalAddress.buildingName}">{postalAddress.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${suicideRisk.postalAddress.addressNumber != null}"
                                          th:text="${suicideRisk.postalAddress.addressNumber}">{postalAddress.addressNumber}</span><span
                th:if="${suicideRisk.postalAddress.addressNumber != null}"> </span><span
                th:if="${suicideRisk.postalAddress.streetName != null}"
                th:text="${suicideRisk.postalAddress.streetName}">{postalAddress.streetName}</span></p>
							<p style="margin: 0;"><span th:if="${suicideRisk.postalAddress.district != null}"
                                          th:text="${suicideRisk.postalAddress.district}">{postalAddress.district}</span></p>
							<p style="margin: 0;"><span th:if="${suicideRisk.postalAddress.townCity != null}"
                                          th:text="${suicideRisk.postalAddress.townCity}">{postalAddress.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${suicideRisk.postalAddress.county != null}"
                                          th:text="${suicideRisk.postalAddress.county}">{postalAddress.county}</span></p>
							<p style="margin: 0;"><span th:if="${suicideRisk.postalAddress.postcode != null}"
                                          th:text="${suicideRisk.postalAddress.postcode}">{postalAddress.postcode}</span></p>
						</div>
                    </span></td>
    </tr>
    <tr>
      <th>NOMS Number (if any)</th>
      <td th:text="${suicideRisk.nomsNumber}">{nomsNumber}</td>
    </tr>
  </table>

  <br/>
  <p>INFORMATION (include source, relevant dates, etc.)</p>

  <table style="width: 100%; border-collapse: collapse; font-family: Arial, sans-serif;">
    <tr>
      <td style="border: 1px solid #000; padding: 12px;">
        <p th:text="${suicideRisk.additionalInfo}"></p>
      </td>
    </tr>
  </table>

  <br>
  <p>ANY CURRENT PSYCHIATRIC TREATMENT</p>

  <table style="width: 100%; border-collapse: collapse; font-family: Arial, sans-serif;">
    <tr>
      <td style="border: 1px solid #000; padding: 12px;">
        <p th:text="${suicideRisk.currentPsychTreatment}"></p>
      </td>
    </tr>
  </table>

  <br/>

  <p>INFORMATION SHEET SENT TO:</p>

  <table style="width: 100%; border-collapse: collapse; font-family: Arial, sans-serif;">
    <thead>
    <tr style="background-color: silver;">
      <th></th>
      <th>Contact Person</th>
      <th>Location</th>
      <th>Yes/No</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="con, iterStat: ${suicideRisk.suicideRiskContactList.?[contactTypeDescription == 'other_colleagues']}">
        <td th:if="${iterStat.index == 0}"
            th:attr="rowspan=${#lists.size(suicideRisk.suicideRiskContactList.?[contactTypeDescription == 'other_colleagues'])}">
          Other colleagues
        </td>
        <td><span th:text="${con.contactPerson}"></span></td>
        <td><span>
						<div th:if="${con.contactLocation != null}">
							<p style="margin: 0;"><span th:if="${con.contactLocation.officeDescription != null}"
                                          th:text="${con.contactLocation.officeDescription}">{con.contactLocation.officeDescription}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.buildingName != null}"
                                          th:text="${con.contactLocation.buildingName}">{con.contactLocation.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.addressNumber != null}"
                                          th:text="${con.contactLocation.addressNumber}">{con.contactLocation.addressNumber}</span><span
                th:if="${con.contactLocation.addressNumber != null}"> </span><span
                th:if="${con.contactLocation.streetName != null}"
                th:text="${con.contactLocation.streetName}">{con.contactLocation.streetName}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.district != null}"
                                          th:text="${con.contactLocation.district}">{con.contactLocation.district}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.townCity != null}"
                                          th:text="${con.contactLocation.townCity}">{con.contactLocation.townCity}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.county != null}"
                                          th:text="${con.contactLocation.county}">{con.contactLocation.county}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.postcode != null}"
                                          th:text="${con.contactLocation.postcode}">{con.contactLocation.postcode}</span></p>
						</div>
                    </span></td>
        <td><span th:if="${con.sendFormManually == true || con.sendFormViaEmail == true}">Yes</span>
          <span th:if="${con.sendFormManually != true && con.sendFormViaEmail != true}">No</span></td>
      </tr>
      <tr th:each="con, iterStat: ${suicideRisk.suicideRiskContactList.?[contactTypeDescription == 'prison_establishment']}">
        <td th:if="${iterStat.index == 0}"
            th:attr="rowspan=${#lists.size(suicideRisk.suicideRiskContactList.?[contactTypeDescription == 'prison_establishment'])}">
          Prison Establishment
        </td>
        <td><span th:text="${con.contactPerson}"></span></td>
        <td><span>
						<div th:if="${con.contactLocation != null}">
							<p style="margin: 0;"><span th:if="${con.contactLocation.officeDescription != null}"
                                          th:text="${con.contactLocation.officeDescription}">{con.contactLocation.officeDescription}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.buildingName != null}"
                                          th:text="${con.contactLocation.buildingName}">{con.contactLocation.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.addressNumber != null}"
                                          th:text="${con.contactLocation.addressNumber}">{con.contactLocation.buildingName}</span><span
                th:if="${con.contactLocation.addressNumber != null}"> </span><span
                th:if="${con.contactLocation.streetName != null}"
                th:text="${con.contactLocation.streetName}">{con.contactLocation.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.district != null}"
                                          th:text="${con.contactLocation.district}">{con.contactLocation.district}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.townCity != null}"
                                          th:text="${con.contactLocation.townCity}">{con.contactLocation.townCity}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.county != null}"
                                          th:text="${con.contactLocation.county}">{con.contactLocation.county}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.postcode != null}"
                                          th:text="${con.contactLocation.postcode}">{con.contactLocation.postcode}</span></p>
						</div>
                    </span></td>
        <td><span th:if="${con.sendFormManually == true || con.sendFormViaEmail == true}">Yes</span>
          <span th:if="${con.sendFormManually != true && con.sendFormViaEmail != true}">No</span></td>
      </tr>
      <tr th:each="con, iterStat: ${suicideRisk.suicideRiskContactList.?[contactTypeDescription == 'police_custody_cells']}">
        <td th:if="${iterStat.index == 0}"
            th:attr="rowspan=${#lists.size(suicideRisk.suicideRiskContactList.?[contactTypeDescription == 'police_custody_cells'])}">
          Police (Custody Cells)
        </td>
        <td><span th:text="${con.contactPerson}"></span></td>
        <td><span>
						<div th:if="${con.contactLocation != null}">
							<p style="margin: 0;"><span th:if="${con.contactLocation.officeDescription != null}"
                                          th:text="${con.contactLocation.officeDescription}">{con.contactLocation.officeDescription}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.buildingName != null}"
                                          th:text="${con.contactLocation.buildingName}">{con.contactLocation.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.addressNumber != null}"
                                          th:text="${con.contactLocation.addressNumber}">{con.contactLocation.addressNumber}</span><span
                th:if="${con.contactLocation.addressNumber != null}"> </span><span
                th:if="${con.contactLocation.streetName != null}"
                th:text="${con.contactLocation.streetName}">{con.contactLocation.streetName}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.district != null}"
                                          th:text="${con.contactLocation.district}">{con.contactLocation.district}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.townCity != null}"
                                          th:text="${con.contactLocation.townCity}">{con.contactLocation.townCity}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.county != null}"
                                          th:text="${con.contactLocation.county}">{con.contactLocation.county}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.postcode != null}"
                                          th:text="${con.contactLocation.postcode}">{con.contactLocation.postcode}</span></p>
						</div>
                    </span></td>
        <td><span th:if="${con.sendFormManually == true || con.sendFormViaEmail == true}">Yes</span>
          <span th:if="${con.sendFormManually != true && con.sendFormViaEmail != true}">No</span></td>
      </tr>
      <tr th:each="con, iterStat: ${suicideRisk.suicideRiskContactList.?[contactTypeDescription == 'medical_services']}">
        <td th:if="${iterStat.index == 0}"
            th:attr="rowspan=${#lists.size(suicideRisk.suicideRiskContactList.?[contactTypeDescription == 'medical_services'])}">
          Medical Services
        </td>
        <td><span th:text="${con.contactPerson}"></span></td>
        <td><span>
						<div th:if="${con.contactLocation != null}">
							<p style="margin: 0;"><span th:if="${con.contactLocation.officeDescription != null}"
                                          th:text="${con.contactLocation.officeDescription}">{con.contactLocation.officeDescription}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.buildingName != null}"
                                          th:text="${con.contactLocation.buildingName}">{con.contactLocation.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.addressNumber != null}"
                                          th:text="${con.contactLocation.addressNumber}">{con.contactLocation.addressNumber}</span><span
                th:if="${con.contactLocation.addressNumber != null}"> </span><span
                th:if="${con.contactLocation.streetName != null}"
                th:text="${con.contactLocation.streetName}">{con.contactLocation.streetName}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.district != null}"
                                          th:text="${con.contactLocation.district}">{con.contactLocation.district}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.townCity != null}"
                                          th:text="${con.contactLocation.townCity}">{con.contactLocation.townCity}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.county != null}"
                                          th:text="${con.contactLocation.county}">{con.contactLocation.county}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.postcode != null}"
                                          th:text="${con.contactLocation.postcode}">{con.contactLocation.postcode}</span></p>
						</div>
                    </span></td>
        <td><span th:if="${con.sendFormManually == true || con.sendFormViaEmail == true}">Yes</span>
          <span th:if="${con.sendFormManually != true && con.sendFormViaEmail != true}">No</span></td>
      </tr>
      <tr th:each="con, iterStat: ${suicideRisk.suicideRiskContactList.?[contactTypeDescription == 'other_agency']}">
        <td th:if="${iterStat.index == 0}"
            th:attr="rowspan=${#lists.size(suicideRisk.suicideRiskContactList.?[contactTypeDescription == 'other_agency'])}">
          Other Agency
        </td>
        <td><span th:text="${con.contactPerson}"></span></td>
        <td><span>
						<div th:if="${con.contactLocation != null}">
							<p style="margin: 0;"><span th:if="${con.contactLocation.officeDescription != null}"
                                          th:text="${con.contactLocation.officeDescription}">{con.contactLocation.officeDescription}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.buildingName != null}"
                                          th:text="${con.contactLocation.buildingName}">{con.contactLocation.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.addressNumber != null}"
                                          th:text="${con.contactLocation.addressNumber}">{con.contactLocation.addressNumber}</span><span
                th:if="${con.contactLocation.addressNumber != null}"> </span><span
                th:if="${con.contactLocation.streetName != null}"
                th:text="${con.contactLocation.streetName}">{con.contactLocation.streetName}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.district != null}"
                                          th:text="${con.contactLocation.district}">{con.contactLocation.district}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.townCity != null}"
                                          th:text="${con.contactLocation.townCity}">{con.contactLocation.townCity}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.county != null}"
                                          th:text="${con.contactLocation.county}">{con.contactLocation.county}</span></p>
							<p style="margin: 0;"><span th:if="${con.contactLocation.postcode != null}"
                                          th:text="${con.contactLocation.postcode}">{con.contactLocation.postcode}</span></p>
						</div>
                    </span></td>
        <td><span th:if="${con.sendFormManually == true || con.sendFormViaEmail == true}">Yes</span>
          <span th:if="${con.sendFormManually != true && con.sendFormViaEmail != true}">No</span></td>
      </tr>
    </tbody>
  </table>


  <br/>

  <p>INFORMATION SHEET SENT BY:</p>

  <!--/*@thymesVar id="suicideRisk" type="uk.gov.justice.digital.hmpps.suicideriskformapi.model.SuicideRisk"*/-->
  <table>
    <tr>
      <th>Name</th>
      <td th:text="${signingOfficerWithDescription}">Officer Name</td>
    </tr>
    <tr>
      <th>Signature</th>
      <td th:text="${suicideRisk.signature}">{signature}</td>
    </tr>
    <tr>
      <th>Work Location and Address</th>
      <td><span>
						<div th:if="${suicideRisk.workAddress != null}">
							<p style="margin: 0;"><span th:if="${suicideRisk.workAddress.officeDescription != null}"
                                          th:text="${suicideRisk.workAddress.officeDescription}">{workAddress.officeDescription}</span></p>
							<p style="margin: 0;"><span th:if="${suicideRisk.workAddress.buildingName != null}"
                                          th:text="${suicideRisk.workAddress.buildingName}">{workAddress.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${suicideRisk.workAddress.addressNumber != null}"
                                          th:text="${suicideRisk.workAddress.addressNumber}">{workAddress.addressNumber}</span><span
                th:if="${suicideRisk.workAddress.addressNumber != null}"> </span><span
                th:if="${suicideRisk.workAddress.streetName != null}"
                th:text="${suicideRisk.workAddress.streetName}">{workAddress.streetName}</span></p>
							<p style="margin: 0;"><span th:if="${suicideRisk.workAddress.district != null}"
                                          th:text="${suicideRisk.workAddress.district}">{workAddress.district}</span></p>
							<p style="margin: 0;"><span th:if="${suicideRisk.workAddress.townCity != null}"
                                          th:text="${suicideRisk.workAddress.townCity}">{workAddress.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${suicideRisk.workAddress.county != null}"
                                          th:text="${suicideRisk.workAddress.county}">{workAddress.county}</span></p>
							<p style="margin: 0;"><span th:if="${suicideRisk.workAddress.postcode != null}"
                                          th:text="${suicideRisk.workAddress.postcode}">{workAddress.postcode}</span></p>
						</div>
                    </span></td>
    </tr>
    <tr>
      <th>Telephone Number</th>
      <td th:text="${suicideRisk.telephoneNumber}">{signature}</td>
    </tr>
    <tr>
      <th>Date Sent</th>
      <td th:text="${#temporals.format(suicideRisk.completedDate, 'dd/MM/yyyy')}">{dateOfBirth}</td>
    </tr>
  </table>

  <br/>

  <table style="width: 100%; border-collapse: collapse; font-family: Arial, sans-serif;">
    <tr>
      <td style="border: 1px solid #000; padding: 12px;">
        <p>THIS INFORMATION IS REGARDED AS OFFICIAL AND TO BE USED BY COLLEAGUES AND RELEVANT AGENCIES FOR THE PURPOSE OF IDENTIFYING THOSE AT RISK TO COMMIT SUICIDE, THUS ENABLING APPROPRIATE HUMANE INTERVENTION.</p>
      </td>
    </tr>
  </table>

</div>

</body>
